@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    color: white;

}
h2{
    font-size: 75px;
    margin: 0px;
}
.pageOne{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position: relative;
    background-image: url("mosque.jpg");
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;

}
.info{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
a {
    background: linear-gradient(to right, #f18f22, #f18f22 50%, #fff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 300ms ease;
  }
a:hover{
    background-position: 0 50%;
}
.pageTwo{
    width: 100vw;
    height: 100vh;
    background-image: url("quran.jpg");
    position: relative;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about, .prayerTimes{
    width: 50vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, .25);
    display: flex;
    justify-content: center;
    align-items: center;
}
.prayerTimes{
    background-color: rgba(255, 255, 255, 0.25);
}
.slider, .table{
    width: 80%;
    height: 60%;
    background-color: rgb(0, 0, 0, .50);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.table{
    color: black;
    background-color: rgba(255, 255, 255, 0.35);
    display: flex;
    flex-direction: column;
}
table, th, td{
    border: 1px solid black;
}
.heading{
    width: 100%;
}
table{
    width: 80%;
    height: 60%;
}
.text{ 
    padding: 7%;
}
#next{
    background-color: rgba(255, 255, 255, 0.25);
    border-style: none;
    border-radius: 70%;
    width: 75px;
    height: 75px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
@keyframes nextHover {
    0% {
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}


@media only screen and (min-width:1281px) {
    #next:hover{
        animation: .35s nextHover 1 forwards;
    }
}
@media only screen and (max-width: 599px) {

    h2{
        font-size: 50px;
    }
    .info{
        gap: 25px;
    }
    .pageOne{
        background-position: 51.59%, 50%;
        
    }
    .pageTwo{
        flex-direction: column;
    }
    .about, .prayerTimes{
        width: 100vw;
        height: 50vh;
    }
    .slider, .table{
        width: 80%;
        height: 80%;
    }
    .text{
        height: 70%;
        padding-bottom: 0%;
    }
    #next{
        width: 60px;
        height: 60px;
    }
}


